# ignore big and useless stuff
experiments/laptop_*
experiments/misha_lora_best/*
logs/

# ignore all images training datas
src/db/*
src/class_pictures/*
# except misha :)
!src/db/misha_db/
!src/db/misha_rembg_db/

# ignore reference
official*
